<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Bookmarks | {% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
    {% block external %}{% endblock %}
</head>
<body>
    <div id="nav">
        <a href="/">home</a> |
        <a href="/popular/">popular</a> |
        {% if user.is_authenticated %}
            <a href="/user/{{ user.username }}/">my bookmarks</a> |
            <a href="/save/">add bookmark</a> |
            <a href="/tag/">tags</a> |
            <a href="/search/">search</a> |
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login/">login</a> |
            <a href="/register/">register</a>
        {% endif %}
    </div>

    <div id="wrapper">
        <h1>{% block head %} {% endblock %}</h1>
        {% block content %} {% endblock %}
    </div>

    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}csfr_token.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bookmarks.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bookmark_edit.js"></script>
</body>
</html>
