{% if bookmarks %}
    <ul class="bookmarks">
        {% for bookmark in bookmarks %}
            <li>
                <a href="{{ bookmark.link.url }}" class="title">
                    {{ bookmark.title }}</a>
                <br />

                {% if show_tags %}
                    Tags:&nbsp;&nbsp; 
                    {% if bookmark.tag_set.all %}
                        {% for tag in bookmark.tag_set.all %}
                            <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>&nbsp;
                        {% endfor %}
                    {% else %}
                        (none)
                    {% endif %}
                {% endif %}

                {% if show_user %}
                    <br />
                    Posted by:
                    <a href="/user/{{ bookmark.user.username }}/"
                       class="username">{{ bookmark.user.username }}</a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks found.</p>
{% endif %}
