<!-- This template is a child of base.html.
It inherits from base and fills in the blocks
defined in base with the block content shown 
below. -->
{% extends "base.html" %}
{% block title %} Welcome to Django Bookmarks {% endblock %}
{% block head %} Welcome to Django Bookmarks {% endblock %}
{% block content %}
    {% if user.username %}
        <p>
        Welcome {{ user.username }}: Here you can store and share bookmarks!
        </p>
    {% else %}
        <p>Welcome new user! You need to <a href="/login/">login</a> before you can store and share bookmarks.</p>
    {% endif %}

    <h2>Bookmarks shared by users</h2>
    {% include "shared_bookmark_list.html" %}
{% endblock %}
