<!-- This template is a child of base.html.
It inherits from base and fills in the blocks
defined in base with the block content shown 
below. -->
{% extends "base.html" %}
{% block title %}Test Page{% endblock %}
{% block head %}Test Page {% endblock %}
{% block content %}
    <hr />
    <h3>Test that jQuery and JavaScript are working</h3>
    <a href="" id="test-jquery">Click me</a> (jQuery)
    <br />
    <br />
    <input type="button" onclick="display_alert()" value="Display alert"></input> (JavaScript)
{% endblock %}
